#log {
  text-align: center; background-color: rgb(75, 16, 131);
  font-size: xx-large; margin-top: -10px;
}
#em {
  text-align: left;
}
#pw {
  text-align: left;
  margin-bottom: 10px;
}

#box {
  text-align: center;
  background-color: rgb(171, 124, 215);
  width: 300px;
  height: auto;
  padding: 2px 20px 35px 20px;
  border: rgb(126, 6, 6) solid 5px;
  border-radius: 10%;
  margin: 50px;
}
#reme {
  text-align: left;
}

#forg {
  text-align: right;
}
