#log {text-align: center;}
#em {text-align: left;}
#pw {text-align: left;}

#box { text-align: center;
    background-color: blueviolet;
width: 300px;
height: auto;
padding: 5px 20px 35px 20px;
border: rgb(126, 6, 6) solid 5px;
border-radius: 10%;
}
#reme {text-align: left;}
#forg {text-align: right;}