#log {text-align: center;}
#em {text-align: left;
}
#pw {text-align: left;
margin-bottom: 10px;}

#box { text-align: center;
    background-color: rgb(171, 124, 215);
width: 300px;
height: auto;
padding: 5px 20px 35px 20px;
border: rgb(126, 6, 6) solid 5px;
border-radius: 10%;
}
#reme {text-align: left;
    width: 150px;; height: 20px; background-color: rgb(57, 193, 148);
margin-bottom: 30px;}
#forg {text-align: right; margin-top: 50px;}